/.build-tools/
/.test-dist/
/.upstream/
/node_modules/
/vendor/
/images/
/css/vendor/
/lib/generated/
/components/BottomDock.vue
/components/Button.vue
/components/DonateBanner.vue
/components/Header.vue
/components/Icon.vue
/components/IconButtonLink.vue
/components/LanguageSection.vue
/components/Logo.vue
/components/PageActionsMenu.vue
/components/PageActionsMenu/
/components/SearchBox.vue
/components/SectionLinks.vue
/components/ToggleList.vue
/components/ToggleList/
/components/banners.vue
/components/footer.vue
/components/footerIconList.vue
/components/footerItemList.vue
/components/history.vue
/components/menu.vue
/components/menuGroup.vue
/components/skin.vue
